@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');



*{
    margin: 0;
    padding: 0;
}

:root{
    --cor:#0A3140;
    --cor1:#025E73;
    --cor2: #2699A6;
    --cor3: #79E6F2;
    --cor4: #D99962;
}

html,body{
    background-color: var(--cor);
    
}

header{
    position: sticky;
    top: 0;
    background-image: linear-gradient(to top, var(--cor), var(--cor3) );
    text-align: center;
    padding: 25px;
      font-family: "Orbitron", sans-serif;


}

header p{
    text-shadow: 
    1px 1px 0 white,
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white
    ;
}

nav{background-color: #01272f(0, 88, 0);
    padding: 5px;

   

}
nav a{ 
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 5px;
    background-color: red;
    border-radius: 5px;
}

main{
    background-color: rgb(255, 255, 255);
    width: 80vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0px;
    box-shadow: 
    10px 10px 10px rgba(0, 0, 0, 0.407),
    -10px 0px 10px rgba(0, 0, 0, 0.383);
    padding: 5px;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10px;

}
section.normal{ 
    background-color: white;
    padding: 15vh 0;
     font-family: "Orbitron", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;


}
section.imagem{
    background-color: darkgray;
     box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.42);

}

section.imagem p{
    background-color: rgba(0, 0, 0, 0.386);
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 1.5em;
     font-family: "Caramel", cursive;
     line-height: 1.8em;
}
#img1{
    background-image: url('../image/contato/1.jpg');
    background-position: left bottom;
    background-size: cover;
    background-attachment: fixed;
}
#img2{
    background-image: url('../image/contato/2.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#img3{
    background-image: url('../image/contato/3.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#img4{
    background-image: url('../image/contato/4.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#img5{
    background-image: url('../image/contato/5.jpg');
    background-position: bottom center;
    background-size: cover;
   
    background-attachment: fixed;
}