*{
    margin: 0;
    padding: 0;
}
header{
    background-color: green;

}

nav{background-color: rgb(0, 88, 0);

}

main{
    background-color: yellow;
    max-width: 300px;
    margin: 0 auto;
    padding: 15px;
    height: 100vh;
}
main a{
    text-decoration: none;
    color: white;
    display: block;
    margin: 20px;
    border: solid black;
    width: 60px;
    padding: 10px;
}
