*{
    margin: 0;
    padding: 0;
}
header{
    background-color: green;
    text-align: center;

}

nav{background-color: rgb(0, 88, 0);
    padding: 5px;
    border: solid;

}
nav a{
    border: solid;
    margin: 5px;
    padding: 5px;
}

main{
    background-color: yellow;
    max-width: 300px;
    margin: 0 auto;
    padding: 15px;
    height: 80vh;
}
main a{
    text-decoration: none;
    color: white;
    display: block;
    margin: 20px;
    border: solid black;
    width: 60px;
    padding: 10px;
}
